.cartNum {

margin-bottom: 20px;
display: flex;
text-align: center;
border-radius: 20px;
background-color: #E5674E;
color: white; 
height: 22px;
width: 22px;
left: 359px;
top: 12px;

    
}

.overlay {
    background-color: rgba(0, 0, 0, 0.7);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
  }

.cart-header {
    text-align: center;
}
/* 
.cart-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 3.5rem;
    text-align: center;
    position: absolute;
    background-color: blue;
    border: 2px solid red;
}
*/
.cart-card {
  
    background: white;
    border-radius: 4px;



}

.cartBtn{
    background-color: #2F2926;
    margin: 0.6rem;
    color: #2F2926;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border: none;

}

.buttonContainer {
    top:0vw;
    right: 0;
    position: fixed;

}

.buttonContainer .bag {
    position: relative;
}

.buttonContainer span {
    background-color: #E5674E;
    color: white;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 1rem;
    height: 1rem;
    text-align: center;
}



.showCart {


    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    margin-left:auto;
    margin-right: auto;
    margin-bottom: 40px;
    height: 80vh;
    transition: transform 1.3s ease-in-out;
    transform: translateX(0);
}

.showCart p {
    font-size: 12px;
 
    
}

.hideCart {
    width: 100%;
    max-width: 100vw;
    display: none;
}

.cart2 {
    display: flex;
    flex-direction: column;
}



.cart_total {
    margin: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}



.total_price_num{
    align-self: flex-end;
}
.buy_button {
 
        font-family: "PT Serif", serif;
          font-size: 25px;
          background-color: #2f2926;
          color: #ffffff;
          height: 55px;
          width: 248px;
          left: 64px;
          top: 552px;
          border-radius: 50px;
          border: none; 
        
        
}