

.status {
    border: 2px solid red; 
   background: #E5674E;
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   text-align: center;
   align-items: center;
   height: 100vh;
   z-index: 1;
   color: white; 

   
    
}
.orderNumberSpan {
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    
}
.status img {
    height: 120px;
    width: 220px;
}



.status-content button  {

    display: flex;
    flex-direction: column;
    color: black
}


.ok-button {
color: black;
font-family: PT Serif;
font-size: 32px;
font-style: normal;
border-radius: 50px;
border: none;
text-align: center;

}

a link {
    color: black;

}

a  {
    color: black;
}

.empty_state_container {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    height: 100vh;
}

.empty_state_container h1{
    
    color: white;
}
.empty_state_container button {
    font-family: "PT Serif", serif;
    font-size: 16px;
    background-color: #ffffff;;
    color: black;
    height: 55px;
    width: 248px;
    border: none; 
    border-radius: 50px;
    
}